meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

link(rel='shortcut icon', href='images/fav.png', type='image/x-icon')
link(rel='apple-touch-icon', href='images/fav.png')
link(rel='apple-touch-icon', sizes='76x76', href='images/fav.png')
link(rel='apple-touch-icon', sizes='120x120', href='images/fav.png')
link(rel='apple-touch-icon', sizes='152x152', href='images/fav.png')

//- meta(name='viewport', content='width=1280, initial-scale=1.0')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

meta(name='keywords', content='宏承,專業襪類設計,織襪機廠商,一體成型,無縫織造,高品質,多功能,運動機能襪,sport socks,breathable,durable,孩童襪,kids socks,comfortable,防勒紳士襪,prevent restrictions')
meta(name='description', content='宏承公司自1971年成立以來，從事專業襪類設計製造為主，2003年為最早投入量產7色台織襪機廠商之一，2011年更添購8色機台，使產品有更豐富的彩色變化，2014年開始積極研發一體成型無縫織造領域，追求生產高品質與多功能產品為目標。主力市場為日本和美國，合作品牌與通路包括：Sanrio、Disney、J.C. Penny、Converse、Playboy、Costco、Walmart、K-mart等。')