script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.plugins.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
link(rel="stylesheet", href="css/vegas.min.css")
script(src="src/js/jquery.parallax-scroll.js")
script(src="src/js/jquery.scrollTo.js")
script(src="dist/common.js")