.svg-empty-dims {
	width: 0px;
	height: 0px;
}

.svg-fax-dims {
	width: 23.87px;
	height: 23.86px;
}

.svg-mail-dims {
	width: 23.87px;
	height: 23.87px;
}

.svg-marker-dims {
	width: 23.87px;
	height: 23.87px;
}

.svg-mobile-btn-deco-dims {
	width: 11.13px;
	height: 11.13px;
}

.svg-mobile-topmenu-sock-dims {
	width: 15.48px;
	height: 17.59px;
}

.svg-news-next-dims {
	width: 5.38px;
	height: 10.75px;
}

.svg-news-prev-dims {
	width: 5.38px;
	height: 10.75px;
}

.svg-phone-dims {
	width: 23.87px;
	height: 23.87px;
}

.svg-worldwide-deco-dims {
	width: 20.4px;
	height: 20.4px;
}

.svg-yarn-btn-deco-dims {
	width: 22.1px;
	height: 22.1px;
}

